body {
    text-align: center;
}
div#level {
    font-size:36px;
}
ul {
    margin-left: auto;
    margin-right: auto;
}
section.scoreboard,section.title {
    background-color: green;
    color:white;
    margin:0px;
    padding:0px;
}
h1,ul{
    font-size:48px;
    color:white;
    margin:0px;
    padding:0px;
}
.bottom-border{
    background-color: green;
    color:white;
    margin:0px;
    padding:0px;
    height:100px;
}
.visible{
    visibility:visible;
}
.hidden{
    visibility:hidden;
}